<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home - BoraRachão</title>
  <link rel="shortcut icon" href="/app/resources/assets/images/logos/logo-white-colors.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    class="css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/app/resources/assets/css/style.css">
</head>
<body class="bg-gray-50">
  
  <!-- logged header -->
  <header class="shadow bg-white py-3">
    <div
      class="container mx-auto px-2 flex flex-row flex-wrap items-center justify-between"
    >
      <!-- nav mobile -->
      <nav class="md:hidden">
        <a id="btn_open_menu_mobile" class="hover:cursor-pointer">
          <i
            class="fa-solid fa-bars text-lg text-gray-500 py-3 px-3.5 rounded-xl hover:bg-gray-100 duration-300 ease-in-out"
          ></i>
        </a>
        <div
          id="menu_mobile"
          class="absolute p-6 w-screen h-screen bg-white z-50 top-0 left-0 hidden"
        >
          <div class="text-end">
            <a id="btn_close_menu_mobile" class="hover:cursor-pointer">
              <i
                class="fa-solid fa-xmark text-lg text-gray-500 py-3 px-3.5 rounded-xl bg-gray-100 hover:bg-gray-200 duration-300 ease-in-out"
              ></i>
            </a>
          </div>
          <div class="text-gray-700 flex flex-col gap-y-3">
            <h3 class="text-2xl">Menu</h3>
            <hr class="text-gray-300" />
            <a
              href="/app/resources/views/index.html"
              class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
            >
              <i
                class="fa-solid fa-house text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
              ></i>
              Home
            </a>
            <a
              href="/app/resources/views/general/contact.html"
              class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
            >
              <i
                class="fa-solid fa-message text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
              ></i>
              Contato
            </a>
            <a
              href="/app/resources/views/match/matches.html"
              class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
            >
              <i
                class="fa-solid fa-futbol text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
              ></i>
              Partidas
            </a>
            <a
              href="/app/resources/views/sports/index.html"
              class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
            >
              <i
                class="fa-solid fa-volleyball text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
              ></i>
              Esportes
            </a>
            <a
              href="/app/resources/views/user/friends.html"
              class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
            >
              <i
                class="fa-solid fa-people-group text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
              ></i>
              Amigos
            </a>
            <a
              href="/app/resources/views/match/matches.html"
              class="mt-3 text-lg bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-2.5 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
            >
              Bora Jogar!
            </a>
            <a
              href="/app/resources/views/auth/login.html"
              class="mt-2 bg-lime-500 hover:bg-lime-400 hover:shadow-md hover:shadow-lime-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
            >
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              Sair
            </a>
          </div>
        </div>
      </nav>
      <div>
        <a href="/app/resources/views/index.html">
          <img src="/app/resources/assets/images/logos/logo-bora-rachao.png" alt="logo" class="max-w-[175px] object-cover" />
        </a>
      </div>
      <nav class="hidden md:flex space-x-6">
        <a
          href="/app/resources/views/index.html"
          class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
          >Home</a
        >
        <a
          href="/app/resources/views/general/contact.html"
          class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
          >Contato</a
        >
        <a
          href="/app/resources/views/match/matches.html"
          class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
          >Partidas</a
        >
        <a
          href="/app/resources/views/sports/index.html"
          class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
          >Esportes</a
        >
        <a
          href=""
          class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
          >Amigos</a
        >
      </nav>
      <div class="flex items-center space-x-3">
        <a href="/app/resources/views/user/profile.html">
          <img
            src="/app/resources/assets/images/beaamonteiro.jpg"
            class="w-9 h-9 rounded-full border-2 border-gray-300 hover:border-cyan-500 duration-300 ease-in-out"
            alt="Profile Photo"
          />
        </a>
        <div class="hidden md:block">
          <a
            href="/app/resources/views/match/matches.html"
            class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
          >
            Bora jogar!
          </a>
        </div>
      </div>
    </div>
  </header>

  <!-- imagem dos esportes section -->
  <section class="container mx-auto px-4 my-8">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3">
      <!-- card -->
      <a href="/app/resources/views/match/matches.html"
        class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-60 w-full"
      >
        <img
          class="absolute top-0 left-0 h-full w-full object-cover"
          src="https://clubepaineiras.org.br/wp-content/uploads/2022/05/jogadores.jpg"
          alt="futebol"
        />
        <div
          class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
        ></div>
        <p
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
        >
          Futebol
        </p>
      </a>

      <!-- double card -->
      <div class="grid grid-cols-1 gap-3">
        <!-- card -->
        <a href="/app/resources/views/match/matches.html"
          class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-30 w-full"
        >
          <img
            class="absolute top-0 left-0 h-full w-full object-cover"
            src="https://cdn.pixabay.com/photo/2020/11/27/18/59/tennis-5782695_1280.jpg"
            alt="tênis"
          />
          <div
            class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
          ></div>
          <p
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
          >
            Tênis
          </p>
        </a>

        <!-- card -->
        <a href="/app/resources/views/match/matches.html"
          class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-30 w-full"
        >
          <img
            class="absolute top-0 left-0 h-full w-full object-cover"
            src="https://webrun.com.br/wp-content/uploads/2021/04/AdobeStock_176854577.jpeg"
            alt="corrida"
          />
          <div
            class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
          ></div>
          <p
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
          >
            Corrida
          </p>
        </a>
      </div>

      <!-- card -->
      <a href="/app/resources/views/match/matches.html"
        class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-60 w-full"
      >
        <img
          class="absolute top-0 left-0 h-full w-full object-cover"
          src="https://images.pexels.com/photos/2834917/pexels-photo-2834917.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="basquete"
        />
        <div
          class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
        ></div>
        <p
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
        >
          Basquete
        </p>
      </a>

      <!-- card -->
      <a href="/app/resources/views/match/matches.html"
        class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-60 w-full"
      >
        <img
          class="absolute top-0 left-0 h-full w-full object-cover"
          src="https://images.pexels.com/photos/1263426/pexels-photo-1263426.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="volêi"
        />
        <div
          class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
        ></div>
        <p
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
        >
          Volêi
        </p>
      </a>

      <!-- double card -->
      <div class="grid grid-cols-1 gap-3">
        <!-- card -->
        <a href="/app/resources/views/match/matches.html"
          class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-30 w-full"
        >
          <img
            class="absolute top-0 left-0 h-full w-full object-cover"
            src="https://images.pexels.com/photos/22763693/pexels-photo-22763693/free-photo-of-woman-playing-tennis-on-beach.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="beach tennis"
          />
          <div
            class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
          ></div>
          <p
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
          >
            Beach Tennis
          </p>
        </a>

        <!-- card -->
        <a href="/app/resources/views/match/matches.html"
          class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-30 w-full"
        >
          <img
            class="absolute top-0 left-0 h-full w-full object-cover"
            src="https://cdn.pixabay.com/photo/2016/06/10/03/06/sport-1447323_1280.jpg"
            alt="futevôlei"
          />
          <div
            class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
          ></div>
          <p
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
          >
            Futevôlei
          </p>
        </a>
      </div>

      <!-- double card -->
      <div class="grid grid-cols-1 gap-3">
        <!-- card -->
        <a href="/app/resources/views/match/matches.html"
          class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-30 w-full"
        >
          <img
            class="absolute top-0 left-0 h-full w-full object-cover"
            src="https://images.pexels.com/photos/163407/cyclists-trail-bike-clouds-163407.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="ciclismo"
          />
          <div
            class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
          ></div>
          <p
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
          >
            Ciclismo
          </p>
        </a>

        <!-- card -->
        <a href="/app/resources/views/sports/index.html"
          class="relative rounded-2xl bg-cyan-500 border-b-4 border-l-4 border-b-orange-500 border-l-cyan-500 hover:cursor-pointer hover:scale-[1.02] hover:shadow-lg hover:border-cyan-500 overflow-hidden duration-300 ease-in-out min-h-30 w-full"
        >
          <img
            class="absolute top-0 left-0 h-full w-full object-cover"
            src="https://images.pexels.com/photos/1996969/pexels-photo-1996969.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="outros"
          />
          <div
            class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-cyan-600/60 to-black/50 z-10"
          ></div>
          <p
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-white leading-6 text-center text-2xl font-semibold italic drop-shadow-lg"
          >
            Ver mais...
          </p>
        </a>
      </div>
    </div>
  </section>

  <!-- motivação e texto section -->
  <section class="container mx-auto px-4 my-14">
    <div
      class="grid lg:grid-cols-2 divide-y-4 lg:divide-y-0 lg:divide-x-4 divide-orange-500 text-center lg:text-start"
    >
      <div class="lg:p-5 leading-[1.1]">
        <h2 class="text-4xl lg:text-[3.5em] text-gray-800 font-semibold">
          <i class="fa-solid fa-forward lg:me-[-22px]"></i>
          MOVIMENTAR
        </h2>
        <h2 class="text-4xl lg:text-[3.5em] text-cyan-500 italic font-[700]">
          <i class="fa-solid fa-handshake-angle lg:me-[-12px]"></i>
          CONECTAR
        </h2>
        <h2 class="text-4xl lg:text-[3.5em] text-orange-500 font-[800]">
          VIVER
          <i class="fa-brands fa-pagelines"></i>
        </h2>
      </div>
      <div class="lg:p-5">
        <h2 class="text-xl lg:text-4xl text-lime-500 italic font-[650] mb-3">
          Nós te ajudamos a fazer amigos...
        </h2>
        <h2 class="text-4xl lg:text-[3.5em] text-gray-800 font-[750] mb-3">
          #BoraRachão
        </h2>
        <p class="text-gray-700 text-xl leading-6">
          Ajudamos você, que é apaixonado por esportes, a encontrar e se
          conectar com pessoas que querem se divertir jogando.
        </p>
      </div>
    </div>
  </section>

  <!-- partidas acontecendo section -->
  <section class="container mx-auto px-4 my-14">
    <hr class="text-gray-300" />
    <div class="my-6">
      <h2 class="text-3xl text-gray-700 font-semibold">
        <i class="fa-solid fa-location-dot"></i>
        Acontecendo agora em Jaú
      </h2>
    </div>
    <div class="grid lg:grid-cols-4 gap-y-3 lg:gap-y-0 lg:gap-x-3">
      <div
        class="col-span-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3"
      >
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora basquete</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">euller</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>15:00
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>3/10
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora futebol</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">joaocf</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>13:00
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>7/10
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora vôlei</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">lucasbardelli</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>10:30
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>7/8
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora beach tennis</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">beatrizk45</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>08:00
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>3/4
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora futebol</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">fabriciols</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>20:00
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>8/10
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora skate</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">marconanth</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>17:00
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>1/4
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora corrida</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">carloslop51</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>19:00
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>3/5
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- card de uma partida -->
        <a href="">
          <div
            class="bg-white text-gray-700 shadow-lg border-1 border-gray-300 px-3 py-2 rounded-2xl hover:scale-[1.02] duration-300 ease-in-out"
          >
            <span
              class="font-semibold capitalize text-start text-white bg-lime-500 rounded-lg px-2"
              >bora futevôlei</span
            >
            <div class="flex items-center justify-start space-x-1 mt-1">
              <img
                src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
                class="w-8 h-8 rounded-full border-2 border-gray-300"
                alt=""
              />
              <p class="font-bold text-cyan-500">victorgaspa10</p>
            </div>
            <hr class="text-gray-300 my-1" />
            <div>
              <div class="flex items-center justify-between">
                <p class="text-gray-500 font-semibold">
                  <i class="fa-solid fa-clock me-0.5"></i>14:30
                </p>
                <p class="text-orange-500 font-bold">
                  <i class="fa-solid fa-users me-1"></i>2/4
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div
        class="bg-white rounded-xl shadow-lg border-1 border-gray-300 p-4 flex flex-col justify-between gap-4"
      >
        <div class="text-center">
          <span
            class="text-amber-500 font-bold text-2xl border-2 border-amber-500 px-4 py-1 rounded-lg"
          >
            <i class="fa-solid fa-heart"></i>
            Mais Bora
          </span>
        </div>
        <p class="text-gray-700">
          Quer ver mais "Bora" de diversos esportes? Acesse pelo botão abaixo
          e veja todas partidas que estão acontecendo na sua região!
        </p>
        <a
          href="/app/resources/views/match/matches.html"
          class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
        >
          Ver mais partidas...
        </a>
      </div>
    </div>
  </section>

  <section
    class="bg-gradient-to-br from-cyan-300 to-cyan-600 px-4 my-16 py-8"
  >
    <div class="flex flex-col space-y-4 items-center justify-center">
      <div>
        <h2
          class="text-white text-4xl font-bold border-3 shadow-md text-center rounded-xl px-6 py-1.5"
        >
          Como funciona o Bora Rachão?
        </h2>
      </div>
      <div class="container mx-auto grid md:grid-cols-3 gap-5 my-8">
        <div class="bg-white shadow-lg rounded-3xl p-3">
          <h3 class="text-gray-700 text-2xl font-bold text-center italic">
            1° Passo
          </h3>
          <hr class="text-gray-300 mb-2" />
          <p class="text-center">
            <i
              class="fa-regular fa-address-card mb-2 text-lime-500 text-4xl"
            ></i>
          </p>
          <h4 class="text-gray-700 text-md text-center leading-5">
            Crie uma conta caso não tenha ou faça login na sua conta.
          </h4>
        </div>
        <div class="bg-white shadow-lg rounded-3xl p-3">
          <h3 class="text-gray-700 text-2xl font-bold text-center italic">
            2° Passo
          </h3>
          <hr class="text-gray-300 mb-2" />
          <p class="text-center">
            <i class="fa-solid fa-basketball mb-2 text-lime-500 text-4xl"></i>
          </p>
          <h4 class="text-gray-700 text-md text-center leading-5">
            Entre em uma partida que está para acontecer ou cria a sua
            própria.
          </h4>
        </div>
        <div class="bg-white shadow-lg rounded-3xl p-3">
          <h3 class="text-gray-700 text-2xl font-bold text-center italic">
            3° Passo
          </h3>
          <hr class="text-gray-300 mb-2" />
          <p class="text-center">
            <i
              class="fa-solid fa-people-group mb-2 text-lime-500 text-4xl"
            ></i>
          </p>
          <h4 class="text-gray-700 text-md text-center leading-5">
            Se divirta com seus amigos e conheça novas pessoas íncriveis.
          </h4>
        </div>
      </div>
    </div>
  </section>

  <!-- newsletter section -->
  <section class="container mx-auto px-4 my-16">
    <h2 class="text-gray-800 font-bold text-3xl text-center">
      Receba conteúdo na nossa Newsletter!
    </h2>
    <form action="#" method="GET">
      <div class="flex flex-col gap-y-5 items-center justify-center my-14">
        <div class="flex flex-col gap-2.5">
          <label class="text-gray-700 text-lg" for="text">
            <i
              class="fa-regular fa-envelope text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
            ></i>
            Coloque seu melhor email
          </label>
          <input
            id="text"
            placeholder="Ex: joaosilva@gmail.com"
            type="text"
            class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
          />
        </div>
        <div>
          <button
            type="submit"
            class="bg-orange-500 hover:bg-orange-400 hover:shadow-md hover:shadow-orange-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5 text-lg"
          >
            <i class="fa-regular fa-paper-plane"></i>
            Enviar
          </button>
        </div>
      </div>
    </form>
  </section>

  <!-- footer -->
  <footer class="py-18 bg-white shadow border-t border-gray-200">
    <div class="container mx-auto px-4">
      <div class="flex flex-col justify-center items-center gap-y-2">
        <a href="/app/resources/views/index.html">
          <img src="/app/resources/assets/images/logos/logo-black-colors.png" alt="Logo BoraRachão" class="w-28 h-28 object-cover">
        </a>
        <a
          href="/app/resources/views/index.html"
          class="text-gray-600 font-bold hover:text-cyan-500 text-lg duration-300 ease-in-out text-center"
        >
          BoraRachão &copy;
        </a>
      </div>
      <nav
        class="flex flex-col md:flex-row items-center justify-center mt-12 gap-5 gap-x-8"
      >
        <a
          href="/app/resources/views/index.html"
          class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
        >
          Home
        </a>
        <a
          href="/app/resources/views/general/contact.html"
          class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
        >
          Contato
        </a>
        <a
          href="/app/resources/views/general/about.html"
          class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
        >
          Sobre
        </a>
        <a
          href="/app/resources/views/general/privacy-policy.html"
          class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
        >
          Política de Privacidade
        </a>
        <a
          href="/app/resources/views/general/terms-of-use.html"
          class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
        >
          Termos de Uso
        </a>
      </nav>
      <div class="flex justify-center gap-x-4 mt-9">
        <a
          href="https://www.instagram.com/"
          class="bg-pink-500/40 py-1 px-2 rounded-xl text-pink-500 hover:bg-pink-500 duration-300 ease-in-out hover:text-white"
        >
          <i class="fa-brands fa-instagram text-2xl hover:text-white"></i>
        </a>
        <a
          href="https://www.tiktok.com/"
          class="bg-stone-500/40 py-1 px-2 rounded-xl text-stone-500 hover:bg-stone-950 duration-300 ease-in-out hover:text-white"
        >
          <i class="fa-brands fa-tiktok text-2xl"></i>
        </a>
        <a
          href="https://www.facebook.com/"
          class="bg-blue-500/40 py-1 px-2 rounded-xl text-blue-500 hover:bg-blue-500 duration-300 ease-in-out hover:text-white"
        >
          <i class="fa-brands fa-square-facebook text-2xl"></i>
        </a>
        <a
          href="https://x.com/"
          class="bg-stone-600/40 py-1 px-1.5 rounded-xl text-stone-600 hover:bg-stone-950 duration-300 ease-in-out hover:text-white"
        >
          <i class="fa-brands fa-x-twitter text-2xl"></i>
        </a>
        <a
          href="https://www.linkedin.com/"
          class="bg-sky-500/40 py-1 px-2 rounded-xl text-sky-500 hover:bg-sky-500 duration-300 ease-in-out hover:text-white"
        >
          <i class="fa-brands fa-linkedin text-2xl"></i>
        </a>
      </div>
    </div>
  </footer>

  <script src="/app/resources/assets/js/script.js"></script>

</body>
</html>