<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      class="css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/app/resources/assets/css/style.css" />
  </head>
  <body class="bg-gray-50">
    <!-- logged header -->
    <header class="shadow bg-white py-3">
      <div
        class="container mx-auto px-2 flex flex-row flex-wrap items-center justify-between"
      >
        <!-- nav mobile -->
        <nav class="md:hidden">
          <a class="hover:cursor-pointer">
            <i
              class="fa-solid fa-bars text-lg text-gray-500 py-3 px-3.5 rounded-full hover:bg-gray-100 duration-300 ease-in-out"
            ></i>
          </a>
        </nav>
        <div>
          <a href="/app/resources/views/index.html">
            <img src="https://placehold.co/100" alt="logo" class="w-9 h-9" />
          </a>
        </div>
        <nav class="hidden md:flex space-x-6">
          <a
            href="/app/resources/views/index.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Home</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Contato</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Partidas</a
          >
          <a
            href="/app/resources/views/sports/index.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Esportes</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Amigos</a
          >
        </nav>
        <div class="flex items-center space-x-3">
          <a href="/app/resources/views/user/profile.html">
            <img
              src="/app/resources/assets/images/IMG_20250123_105642_002.webp"
              class="w-9 h-9 rounded-full border-2 border-gray-300 hover:border-cyan-500 duration-300 ease-in-out"
              alt=""
            />
          </a>
          <div class="hidden md:block">
            <a
              href=""
              class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
            >
              Bora jogar!
            </a>
          </div>
          <a href="">
            <i
              class="fa-solid fa-moon text-lg text-orange-500 py-3 px-3.5 rounded-full hover:bg-gray-100 duration-300 ease-in-out"
            ></i>
          </a>
        </div>
      </div>
    </header>

    <section class="container mx-auto px-4 mt-6 mb-[150px]">
      <div class="grid grid-cols-1 lg:grid-cols-6 gap-y-16 md:gap-x-5">
        <div
          class="flex flex-col gap-y-3 justify-center md:justify-start items-center bg-red-200 sticky top-0"
        >
          d
        </div>
        <div class="col-span-3">
          <div class="flex flex-col my-8 gap-y-7">
            <h2 class="text-2xl text-gray-500 font-semibold mb-3">
              <i class="fa-solid fa-clock"></i>
              Conexão
            </h2>
            <div class="">
              <fieldset
                class="bg-white shadow-lg border-1 border-gray-300 rounded-xl p-5 flex flex-col gap-y-3"
              >
                <legend class="text-gray-600">Hoje</legend>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Futebol</span> de
                  <a href="" class="text-cyan-500">@lucasbardelli</a>
                  com mais 8 pessoas
                </div>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Basquete</span> de
                  <a href="" class="text-cyan-500">@joaocf</a>
                  com mais 6 pessoas
                </div>
              </fieldset>
              <fieldset
                class="bg-white shadow-lg border-1 border-gray-300 rounded-xl p-5 flex flex-col gap-y-3"
              >
                <legend class="text-gray-600">Ontem</legend>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de um bora de
                  <span class="font-bold italic">Skate</span> de
                  <a href="" class="text-cyan-500">@gabrielribeiro45</a>
                  com mais 3 pessoas
                </div>
              </fieldset>
              <fieldset
                class="bg-white shadow-lg border-1 border-gray-300 rounded-xl p-5 flex flex-col gap-y-3"
              >
                <legend class="text-gray-600">19/05/2025</legend>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Futebol</span> de
                  <a href="" class="text-cyan-500">@lucasbardelli</a>
                  com mais 8 pessoas
                </div>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Basquete</span> de
                  <a href="" class="text-cyan-500">@joaocf</a>
                  com mais 6 pessoas
                </div>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Basquete</span> de
                  <a href="" class="text-cyan-500">@joaocf</a>
                  com mais 6 pessoas
                </div>
              </fieldset>
              <fieldset
                class="bg-white shadow-lg border-1 border-gray-300 rounded-xl p-5 flex flex-col gap-y-3"
              >
                <legend class="text-gray-600">17/05/2025</legend>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Futebol</span> de
                  <a href="" class="text-cyan-500">@lucasbardelli</a>
                  com mais 8 pessoas
                </div>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Basquete</span> de
                  <a href="" class="text-cyan-500">@joaocf</a>
                  com mais 6 pessoas
                </div>
              </fieldset>
              <fieldset
                class="bg-white shadow-lg border-1 border-gray-300 rounded-xl p-5 flex flex-col gap-y-3"
              >
                <legend class="text-gray-600">15/05/2025</legend>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Futebol</span> de
                  <a href="" class="text-cyan-500">@lucasbardelli</a>
                  com mais 8 pessoas
                </div>
              </fieldset>
              <fieldset
                class="bg-white shadow-lg border-1 border-gray-300 rounded-xl p-5 flex flex-col gap-y-3"
              >
                <legend class="text-gray-600">14/05/2025</legend>
                <div class="text-gray-600">
                  <i
                    class="fa-solid fa-people-group me-1 border border-gray-300 px-2 py-2.5 rounded-full"
                  ></i>
                  Participou de bora de
                  <span class="font-bold italic">Futebol</span> de
                  <a href="" class="text-cyan-500">@lucasbardelli</a>
                  com mais 8 pessoas
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-span-2 bg-orange-300">
             <h2 class="text-2xl text-gray-500 font-semibold mb-3">
              <i class="fa-solid fa-users"></i>
              Chame seus amigos para jogar
            </h2>
        </div>
      </div>
    </section>
  </body>
</html>
