<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Configuração de Usuário - BoraRachão</title>
    <link
      rel="shortcut icon"
      href="/app/resources/assets/images/logos/logo-white-colors.png"
      type="image/x-icon"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      class="css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/app/resources/assets/css/style.css" />
  </head>

  <body class="bg-gray-50">
    <!-- logged header -->
    <header class="shadow bg-white py-3">
      <div
        class="container mx-auto px-2 flex flex-row flex-wrap items-center justify-between"
      >
        <!-- nav mobile -->
        <nav class="md:hidden">
          <a id="btn_open_menu_mobile" class="hover:cursor-pointer">
            <i
              class="fa-solid fa-bars text-lg text-gray-500 py-3 px-3.5 rounded-xl hover:bg-gray-100 duration-300 ease-in-out"
            ></i>
          </a>
          <div
            id="menu_mobile"
            class="fixed p-6 w-screen h-screen bg-white z-50 top-0 left-0 hidden"
          >
            <div class="text-end">
              <a id="btn_close_menu_mobile" class="hover:cursor-pointer">
                <i
                  class="fa-solid fa-xmark text-lg text-gray-500 py-3 px-3.5 rounded-xl bg-gray-100 hover:bg-gray-200 duration-300 ease-in-out"
                ></i>
              </a>
            </div>
            <div class="text-gray-700 flex flex-col gap-y-3">
              <h3 class="text-2xl">Menu</h3>
              <hr class="text-gray-300" />
              <a
                href="/app/resources/views/index.html"
                class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
              >
                <i
                  class="fa-solid fa-house text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                ></i>
                Home
              </a>
              <a
                href="/app/resources/views/general/contact.html"
                class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
              >
                <i
                  class="fa-solid fa-message text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                ></i>
                Contato
              </a>
              <a
                href="/app/resources/views/match/matches.html"
                class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
              >
                <i
                  class="fa-solid fa-futbol text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                ></i>
                Partidas
              </a>
              <a
                href="/app/resources/views/sports/index.html"
                class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
              >
                <i
                  class="fa-solid fa-volleyball text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                ></i>
                Esportes
              </a>
              <a
                href="/app/resources/views/general/about.html"
                class="text-xl hover:bg-gray-100 p-3 rounded-2xl flex items-center gap-x-1.5 duration-300 ease-in-out"
              >
                <i
                  class="fa-solid fa-people-group text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                ></i>
                Sobre
              </a>
              <a
                href="/app/resources/views/match/matches.html"
                class="mt-3 text-lg bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-2.5 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
              >
                Bora Jogar!
              </a>
              <a
                href="/app/resources/views/auth/login.html"
                class="mt-2 bg-lime-500 hover:bg-lime-400 hover:shadow-md hover:shadow-lime-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
              >
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Sair
              </a>
            </div>
          </div>
        </nav>
        <div>
          <a href="/app/resources/views/index.html">
            <img
              src="/app/resources/assets/images/logos/logo-bora-rachao.png"
              alt="logo"
              class="max-w-[175px] object-cover"
            />
          </a>
        </div>
        <nav class="hidden md:flex space-x-6">
          <a
            href="/app/resources/views/index.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Home</a
          >
          <a
            href="/app/resources/views/general/contact.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Contato</a
          >
          <a
            href="/app/resources/views/match/matches.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Partidas</a
          >
          <a
            href="/app/resources/views/sports/index.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Esportes</a
          >
          <a
            href="/app/resources/views/general/about.html"
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Sobre</a
          >
        </nav>
        <div class="flex items-center space-x-3">
          <a href="/app/resources/views/user/profile.html">
            <img
              src="/app/resources/assets/images/beaamonteiro.jpg"
              class="w-9 h-9 rounded-full border-2 border-gray-300 hover:border-cyan-500 duration-300 ease-in-out"
              alt="Profile Photo"
            />
          </a>
          <div class="hidden md:block">
            <a
              href="/app/resources/views/match/matches.html"
              class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
            >
              Bora jogar!
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Conteúdo principal -->

    <!--Title section-->
    <section class="container mx-auto px-4 my-8">
      <div class="lg:p-2 leading-[1.1] border-l-8 border-l-cyan-500">
        <h2
          class="ps-2 text-4xl lg:text-[3rem] text-gray-700 font-semibold capitalize"
        >
          Configurações do Usuário
        </h2>
      </div>
    </section>

    <!-- Foto de perfil -->
    <section
      class="container mx-auto p-4 lg:p-8 mt-10 bg-white rounded-2xl border border-gray-300 shadow mb-20"
    >
      <div class="grid lg:grid-cols-2 gap-8">
        <div>
          <form action="#" id="update_data_form">
            <div class="flex flex-col justify-center gap-3">
              <div class="flex flex-col justify-center items-center gap-3">
                <div class="flex-shrink-0 relative w-36 h-36">
                  <img
                    src="/app/resources/assets/images/beaamonteiro.jpg"
                    alt="Foto de Perfil"
                    class="w-full h-full object-cover rounded-full border border-gray-300"
                  />
                  <button
                    class="absolute bottom-3 right-0 rounded-full p-1"
                    title="Editar foto"
                  >
                    <i
                      class="fa-solid fa-pencil text-sm bg-orange-200 p-2 rounded-xl text-orange-500 hover:cursor-pointer"
                    ></i>
                  </button>
                </div>
                <div class="w-full flex flex-col gap-2">
                  <label class="block text-gray-700 text-md mb-1" for="bio">
                    <i
                      class="fa-solid fa-comment text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                    ></i>
                    Bio
                  </label>
                  <textarea
                    id="bio"
                    name="bio"
                    placeholder="Eu gosto muito de praticar futebol..."
                    rows="4"
                    type="text"
                    class="w-full shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                  >
Beatriz Karoline Monteiro 18y. DSM- 1° semestre - Adoro jogar vôlei nas horas vagas. Estou sempre buscando aprender coisas novas!
              </textarea
                  >
                  <p
                    class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                    data-error="bio"
                  >
                    O campo precisa ser preenchido corretamente.
                  </p>
                </div>
              </div>
              <!-- input com label -->
              <div class="flex flex-col gap-2">
                <label class="text-gray-700 text-md" for="name">
                  <i
                    class="fa-solid fa-pencil text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                  ></i>
                  Nome de Usuário
                </label>
                <input
                  id="name"
                  placeholder="Ex: "
                  value="beaamonteiro"
                  name="name"
                  type="text"
                  class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                />
                <p
                  class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                  data-error="name"
                >
                  O campo precisa ser preenchido corretamente.
                </p>
              </div>

              <div class="flex flex-col gap-2">
                <label class="block text-gray-700 text-md" for="email">
                  <i
                    class="fa-solid fa-envelope text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                  ></i>
                  E-mail</label
                >
                <input
                  type="email"
                  placeholder="exemplo@exemplo.com"
                  id="email"
                  name="email"
                  value="beatrizmonteirojau@gmail.com"
                  class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out w-full"
                />
                <p
                  class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                  data-error="email"
                >
                  O campo precisa ser preenchido corretamente.
                </p>
              </div>
              <div class="flex flex-col gap-2">
                <label class="text-gray-700 text-md" for="city">
                  <i
                    class="fa-solid fa-location-dot text-sm bg-orange-200 p-2 px-2.5 rounded-xl text-orange-500"
                  ></i>
                  Cidade
                </label>
                <select
                  id="city"
                  name="city"
                  type="text"
                  class="shadow-sm py-2.5 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                >
                  <option disabled>Selecione uma cidade</option>
                  <option selected value="jau">Jaú</option>
                  <option value="bariri">Bariri</option>
                  <option value="mineiros_do_tiete">Mineiros do Tietê</option>
                  <option value="barra_bonita">Barra Bonita</option>
                  <option value="bauru">Bauru</option>
                </select>
                <p
                  class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                  data-error="city"
                >
                  O campo precisa ser preenchido corretamente.
                </p>
              </div>
            </div>
            <div class="flex justify-end pt-4">
              <button
                type="submit"
                class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-2 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
              >
                Atualizar dados
                <i class="fa-solid fa-arrows-rotate"></i>
              </button>
            </div>
          </form>
        </div>
        <hr class="md:hidden text-gray-300" />
        <div>
          <form action="#" id="update_password_form">
            <div class="flex flex-col gap-3">
              <div class="flex flex-col gap-2">
                <label class="text-gray-700 text-md" for="current_password">
                  <i
                    class="fa-solid fa-lock text-sm bg-orange-200 p-2 px-2.25 rounded-xl text-orange-500"
                  ></i>
                  Senha atual
                </label>
                <input
                  id="current_password"
                  name="current_password"
                  type="password"
                  placeholder="Sua senha atual"
                  class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                />
                <p
                  class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                  data-error="current_password"
                >
                  O campo precisa ser preenchido corretamente.
                </p>
              </div>
              <div class="flex flex-col gap-2">
                <label class="text-gray-700 text-md" for="password">
                  <i
                    class="fa-solid fa-lock text-sm bg-orange-200 p-2 px-2.25 rounded-xl text-orange-500"
                  ></i>
                  Senha
                </label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="Crie uma senha segura"
                  class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                />
                <p
                  class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                  data-error="password"
                >
                  O campo precisa ser preenchido corretamente.
                </p>
              </div>
              <div class="flex flex-col gap-2">
                <label
                  class="text-gray-700 text-md"
                  for="password_confirmation"
                >
                  <i
                    class="fa-solid fa-lock text-sm bg-orange-200 p-2 px-2.25 rounded-xl text-orange-500"
                  ></i>
                  Confirme a Senha
                </label>
                <input
                  id="password_confirmation"
                  name="password_confirmation"
                  type="password"
                  placeholder="Repita a sua senha"
                  class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-400 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                />
                <p
                  class="text-xs leading-4 text-red-500 mt-[-4px] hidden"
                  data-error="password_confirmation"
                >
                  O campo precisa ser preenchido corretamente.
                </p>
              </div>
              <div class="flex justify-end pt-4">
                <button
                  type="submit"
                  class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-2 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
                >
                  Atualizar Senha
                  <i class="fa-solid fa-arrows-rotate"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer class="py-18 bg-white shadow border-t border-gray-200">
      <div class="container mx-auto px-4">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <a href="/app/resources/views/index.html">
            <img
              src="/app/resources/assets/images/logos/logo-black-colors.png"
              alt="Logo BoraRachão"
              class="w-28 h-28 object-cover"
            />
          </a>
          <a
            href="/app/resources/views/index.html"
            class="text-gray-600 font-bold hover:text-cyan-500 text-lg duration-300 ease-in-out text-center"
          >
            BoraRachão &copy;
          </a>
        </div>
        <nav
          class="flex flex-col md:flex-row items-center justify-center mt-12 gap-5 gap-x-8"
        >
          <a
            href="/app/resources/views/index.html"
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Home
          </a>
          <a
            href="/app/resources/views/general/contact.html"
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Contato
          </a>
          <a
            href="/app/resources/views/general/about.html"
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Sobre
          </a>
          <a
            href="/app/resources/views/general/privacy-policy.html"
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Política de Privacidade
          </a>
          <a
            href="/app/resources/views/general/terms-of-use.html"
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Termos de Uso
          </a>
        </nav>
        <div class="flex justify-center gap-x-4 mt-9">
          <a
            href="https://www.instagram.com/"
            class="bg-pink-500/40 py-1 px-2 rounded-xl text-pink-500 hover:bg-pink-500 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-instagram text-2xl hover:text-white"></i>
          </a>
          <a
            href="https://www.tiktok.com/"
            class="bg-stone-500/40 py-1 px-2 rounded-xl text-stone-500 hover:bg-stone-950 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-tiktok text-2xl"></i>
          </a>
          <a
            href="https://www.facebook.com/"
            class="bg-blue-500/40 py-1 px-2 rounded-xl text-blue-500 hover:bg-blue-500 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-square-facebook text-2xl"></i>
          </a>
          <a
            href="https://x.com/"
            class="bg-stone-600/40 py-1 px-1.5 rounded-xl text-stone-600 hover:bg-stone-950 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-x-twitter text-2xl"></i>
          </a>
          <a
            href="https://www.linkedin.com/"
            class="bg-sky-500/40 py-1 px-2 rounded-xl text-sky-500 hover:bg-sky-500 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-linkedin text-2xl"></i>
          </a>
        </div>
      </div>
    </footer>

    <script src="/app/resources/assets/js/script.js"></script>

    <script>
      const arrayUpdateDataForm = [];
      const arrayUpdatePassForm = [];

      addInputValidations(
        document.getElementById("bio"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo mensagem é obrigatório.");
            } else if (e.target.value.length > 500) {
              toggleErrorMsg(
                input,
                "O campo mensagem só pode ter 500 caracteres no máximo."
              );
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayUpdateDataForm
      );

      addInputValidations(
        document.getElementById("name"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo nome é obrigatório.");
            } else if (e.target.value.length > 255) {
              toggleErrorMsg(
                input,
                "O campo nome só pode ter 255 caracteres no máximo."
              );
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayUpdateDataForm
      );

      addInputValidations(
        document.getElementById("email"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo email é obrigatório.");
            } else if (e.target.value.length > 255) {
              toggleErrorMsg(
                input,
                "O campo email só pode ter 255 caracteres no máximo."
              );
            } else if (
              !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(e.target.value.trim())
            ) {
              toggleErrorMsg(input, "O campo precisa ter um email válido.");
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayUpdateDataForm
      );

      addInputValidations(
        document.getElementById("city"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.options[e.target.selectedIndex].disabled) {
              toggleErrorMsg(input, "O campo de cidade é obrigatório.");
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayUpdateDataForm
      );

      formPreventAndValidate(
        document.getElementById("update_data_form"),
        arrayUpdateDataForm,
        "/app/resources/views/user/user-config.html"
      );

      addInputValidations(
        document.getElementById("current_password"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo senha atual é obrigatório.");
            } else if (e.target.value.length > 255) {
              toggleErrorMsg(
                input,
                "O campo senha atual só pode ter 255 caracteres no máximo."
              );
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayUpdatePassForm
      );

      addInputValidations(
        document.getElementById("password"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo senha é obrigatório.");
            } else if (e.target.value.length > 255) {
              toggleErrorMsg(
                input,
                "O campo senha só pode ter 255 caracteres no máximo."
              );
            } else if (e.target.value.length < 8) {
              toggleErrorMsg(
                input,
                "O campo senha deve ter no mínimo 8 caracteres."
              );
            } else {
              toggleErrorMsg(input);
            }
            document
              .getElementById("password_confirmation")
              .dispatchEvent(new Event("blur"));
          });
        },
        arrayUpdatePassForm
      );

      addInputValidations(
        document.getElementById("password_confirmation"),
        (input, msg) => {
          const passwordInput = document.getElementById("password");
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo de confirmação é obrigatório.");
            } else if (e.target.value != passwordInput.value) {
              toggleErrorMsg(
                input,
                "O campo de confirmação e senha devem ser iguais."
              );
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayUpdatePassForm
      );

      formPreventAndValidate(
        document.getElementById("update_password_form"),
        arrayUpdatePassForm,
        "/app/resources/views/user/user-config.html"
      );
    </script>
  </body>
</html>
