<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      class="css"
    />
  </head>
  <body>
    <div class="container mx-auto my-16 flex flex-wrap">
      <div class="basis-full my-6">
        <p class="text-2xl text-gray-700">Botão padrão</p>
      </div>

      <div class="flex gap-4">
        <!-- botão azul -->
        <a
          href=""
          class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
        >
          Bora Rachão
        </a>
        <!-- botão laranja -->
        <a
          href=""
          class="bg-orange-500 hover:bg-orange-400 hover:shadow-md hover:shadow-orange-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
        >
          Bora Rachão
        </a>
        <!-- botão verde -->
        <a
          href=""
          class="bg-lime-500 hover:bg-lime-400 hover:shadow-md hover:shadow-lime-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
        >
          Bora Rachão
        </a>
        <!-- botão vermeho -->
        <a
          href=""
          class="bg-red-600 hover:bg-red-500 hover:shadow-md hover:shadow-red-500/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
        >
          Bora Rachão
        </a>
        <!-- botão cinza -->
        <a
          href=""
          class="bg-gray-500 hover:bg-gray-400 hover:shadow-md hover:shadow-gray-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
        >
          Bora Rachão
        </a>
        <!-- botão amarelo -->
        <a
          href=""
          class="bg-amber-500 hover:bg-amber-400 hover:shadow-md hover:shadow-amber-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
        >
          Bora Rachão
        </a>
      </div>
    </div>
  </body>
</html>
