<footer class="mt-16 py-18 bg-white shadow border-t border-gray-200">
  <div class="container mx-auto px-4">
    <div class="flex flex-col justify-center items-center gap-y-5">
      <a href="">
        <img src="https://placehold.co/100" alt="" class="w-12 h-12" />
      </a>
      <a
        href="/app/resources/views/index.html"
        class="text-gray-600 font-bold hover:text-cyan-500 text-lg duration-300 ease-in-out text-center"
      >
        BoraRachão &copy;
      </a>
    </div>
    <nav
      class="flex flex-col md:flex-row items-center justify-center mt-12 gap-5 gap-x-8"
    >
      <a
        href="/app/resources/views/index.html"
        class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
      >
        Home
      </a>
      <a
        href=""
        class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
      >
        Contato
      </a>
      <a
        href=""
        class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
      >
        Sobre
      </a>
      <a
        href=""
        class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
      >
        Política de Privacidade
      </a>
      <a
        href=""
        class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
      >
        Termos de Uso
      </a>
    </nav>
  </div>
</footer>