<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - BoraRachão</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        class="css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/app/resources/assets/css/style.css" />
</head>
<body class="bg-gray-50">
    <!-- guest header -->
    <header class="shadow bg-white py-3">
        <div class="container mx-auto px-2 flex flex-row flex-wrap items-center justify-between">
            <!-- nav mobile -->
            <nav class="md:hidden">
                <a class="hover:cursor-pointer">
                    <i
                        class="fa-solid fa-bars text-lg text-gray-500 py-3 px-3.5 rounded-full hover:bg-gray-100 duration-300 ease-in-out"></i>
                </a>
            </nav>
            <div>
                <a href="/app/resources/views/index.html">
                    <img src="https://placehold.co/100" alt="logo" class="w-9 h-9" />
                </a>
            </div>
            <nav class="hidden md:flex space-x-6">
                <a href="/app/resources/views/index.html"
                    class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out">Home</a>
                <a href="" class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out">Contato</a>
                <a href="" class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out">Partidas</a>
                <a href="" class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out">Esportes</a>
            </nav>
            <div class="flex items-center space-x-3">
                <div class="hidden md:block">
                    <a href=""
                        class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5">
                        Criar Conta
                    </a>
                </div>
                <a href=""
                    class="bg-lime-500 hover:bg-lime-400 hover:shadow-md hover:shadow-lime-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5">
                    Acessar
                </a>
                <a href="">
                    <i
                        class="fa-solid fa-moon text-lg text-orange-500 py-3 px-3.5 rounded-full hover:bg-gray-100 duration-300 ease-in-out"></i>
                </a>
            </div>
        </div>
    </header>

    <!--Title section-->
    <section class="container mx-auto px-4 my-14 rounded-lg">
        <div class="lg:p-2 leading-[1.1] border-l-8 border-l-cyan-500">
            <h2 class="ps-2 text-4xl lg:text-[3.5em] text-gray-700 font-bold capitalize">Sobre</h2>
        </div>
    </section>

    <!--subtitle section-->
    <section class="container text-center mx-auto rounded-lg mb-6">
        <h2 class="font-bold text-5xl italic text-cyan-500 antialised p-2 underline underline-offset-12 capitalize">
            Chega de bagunça no grupo!</h2>
    </section>

    <!--Description section-->
    <section class="container px-4 mx-auto  ">
        <div class="md:flex items-center">
            <div class="lg:p-10 text-2xl text-gray-600 indent-8 text-justify">
                <p> Com o Bora Rachão, você organiza seus rachões, escolhe o local, define os
                    horários, controla a lista de participantes e até faz rateio dos custos, tudo de forma rápida,
                    intuitiva e transparente. Aqui, quem joga foca no que realmente importa: o esporte rolando!</p>
                <p>Nosso propósito é fortalecer a cultura do esporte amador e profissional promover integração entre
                    pessoas e
                    facilitar aquele encontro semanal com os amigos, seja no futebol, vôlei, basquete, ou qualquer outra
                    modalidade.</p>
            </div>
            <div class="x-0">
                <img class="rounded-4xl w-400"
                    src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="zazaza">
            </div>
        </div>
    </section>

    <!--subtitle section-->
    <section class="container text-center mx-auto rounded-lg mt-20 mb-10">
        <h2 class="font-bold text-5xl italic text-orange-500 antialised p-2 underline underline-offset-12 capitalize">
            Equipe!</h2>
    </section>
    <!--team section-->
    <section class="container px-4 mx-auto">
        <div class="grid lg:grid-cols-2 lg:divide-x-8 divide-gray-300">
            <div class="lg:p-10 text text-center ">
                <h1 class="text-5xl mb-6 text-center font-bold text-gray-700">João</h1>
                <p class="text-2xl text-gray-600 indent-8 text-justify">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Adipisci odit minima maxime expedita. Necessitatibus magnam dignissimos itaque
                    voluptatibus accusamus, quam amet maiores molestiae ex quia, officiis laudantium vero assumenda
                    possimus?.</p>
            </div>
            <div class="flex justify-center py-8">
                <img class="rounded-4xl w-86 h-86 object-cover"
                    src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="zazaza">
            </div>
        </div>
    </section>

    <section class="container px-4 mx-auto">
        <div class="grid lg:grid-cols-2 lg:divide-x-8 divide-gray-300">
            <div class="flex justify-center py-8">
                <img class="rounded-4xl w-86 h-86 object-cover"
                    src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="zazaza">
            </div>
            <div class="lg:p-10 text text-center">
                <h1 class="text-5xl mb-6 text-center font-bold text-gray-700">João</h1>
                <p class="text-2xl text-gray-600 indent-8 text-justify">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Adipisci odit minima maxime expedita. Necessitatibus magnam dignissimos itaque
                    voluptatibus accusamus, quam amet maiores molestiae ex quia, officiis laudantium vero assumenda
                    possimus?.</p>
            </div>
        </div>
    </section>

    <section class="container px-4 mx-auto ">
        <div class="grid lg:grid-cols-2 lg:divide-x-8 divide-gray-300">
            <div class="lg:p-10 text text-center ">
                <h1 class="text-5xl mb-6 text-center font-bold text-gray-700">João</h1>
                <p class="text-2xl text-gray-600 indent-8 text-justify">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Adipisci odit minima maxime expedita. Necessitatibus magnam dignissimos itaque
                    voluptatibus accusamus, quam amet maiores molestiae ex quia, officiis laudantium vero assumenda
                    possimus?.</p>
            </div>
            <div class="flex justify-center py-8">
                <img class="rounded-4xl w-86 h-86 object-cover"
                    src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="zazaza">
            </div>
        </div>
    </section>

    <section class="container px-4 mx-auto">
        <div class="grid lg:grid-cols-2 lg:divide-x-8 divide-gray-300 ">
            <div class="flex justify-center py-8">
                <img class="rounded-4xl w-86 h-86 object-cover"
                    src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="zazaza">
            </div>
            <div class="lg:p-10 text text-center">
                <h1 class="text-5xl mb-6 text-center font-bold text-gray-700">João</h1>
                <p class="text-2xl text-gray-600 indent-8 text-justify">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Adipisci odit minima maxime expedita. Necessitatibus magnam dignissimos itaque
                    voluptatibus accusamus, quam amet maiores molestiae ex quia, officiis laudantium vero assumenda
                    possimus?.</p>
            </div>
        </div>
    </section>

    <section class="container px-4 mx-auto">
        <div class="grid lg:grid-cols-2 lg:divide-x-8 divide-gray-300">
            <div class="lg:p-10 text text-center ">
                <h1 class="text-5xl mb-6 text-center font-bold text-gray-700">João</h1>
                <p class="text-2xl text-gray-600 indent-8 text-justify">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Adipisci odit minima maxime expedita. Necessitatibus magnam dignissimos itaque
                    voluptatibus accusamus, quam amet maiores molestiae ex quia, officiis laudantium vero assumenda
                    possimus?.</p>
            </div>
            <div class="flex justify-center py-8">
                <img class="rounded-4xl w-86 h-86 object-cover"
                    src="https://images.pexels.com/photos/69773/uss-nimitz-basketball-silhouettes-sea-69773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="zazaza">
            </div>
        </div>
    </section>

    <script src="/app/resources/assets/js/script.js"></script>

</body>
</html>