<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página contato</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      class="css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/app/resources/assets/css/style.css" />
  </head>

  <body>
    <header class="shadow bg-white py-3">
      <div
        class="container mx-auto px-2 flex flex-row flex-wrap items-center justify-between"
      >
        <nav class="md:hidden">
          <a class="hover:cursor-pointer">
            <i
              class="fa-solid fa-bars text-lg text-gray-500 py-3 px-3.5 rounded-full hover:bg-gray-100 duration-300 ease-in-out"
            ></i>
          </a>
        </nav>
        <div>
          <a href="">
            <img src="https://placehold.co/100" alt="" class="w-9 h-9" />
          </a>
        </div>
        <nav class="hidden md:flex space-x-6">
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Home</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Contato</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Partidas</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Esportes</a
          >
          <a
            href=""
            class="text-gray-800 hover:text-cyan-500 duration-300 ease-in-out"
            >Amigos</a
          >
        </nav>
        <div class="flex items-center space-x-3">
          <a href="">
            <img
              src="https://st4.depositphotos.com/9998432/25177/v/450/depositphotos_251778046-stock-illustration-person-gray-photo-placeholder-man.jpg"
              class="w-9 h-9 rounded-full border-2 border-gray-300 hover:border-cyan-500 duration-300 ease-in-out"
              alt=""
            />
          </a>
          <div class="hidden md:block">
            <a
              href=""
              class="bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
            >
              Bora jogar!
            </a>
          </div>
          <a href="">
            <i
              class="fa-solid fa-moon text-lg text-orange-500 py-3 px-3.5 rounded-full hover:bg-gray-100 duration-300 ease-in-out"
            ></i>
          </a>
        </div>
      </div>
    </header>

    <section class="container mx-auto px-4 my-8">
      <div class="lg:p-2 leading-[1.1] border-l-8 border-l-cyan-500">
        <h2
          class="ps-2 text-4xl lg:text-[3rem] text-gray-700 font-semibold capitalize"
        >
          contato
        </h2>
      </div>
    </section>

    <section class="py-2 px-4">
      <div class="container mx-auto">
        <div
          class="mb-8 max-w-[clamp(60rem,60rem,75rem)] mx-auto bg-white rounded-2xl shadow-lg border border-gray-300 overflow-hidden"
        >
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/3 bg-cyan-600 text-white p-8">
              <div>
                <h2 class="text-3xl font-semibold mb-4">Vamos conversar</h2>
                <p class="mb-6">
                  Preencha o formulário e entraremos em contato o mais breve
                  possível.
                </p>
              </div>
              <div class="mt-8">
                <h3 class="font-medium text-lg mb-2 font-semibold">
                  Horário de atendimento
                </h3>
                <p>Segunda a Sexta: 8h às 18h</p>
                <p>Sábado: 9h às 13h</p>
                <p>Domingo e Feriado: Fechado</p>
              </div>
            </div>

            <div class="w-full md:w-2/3 p-8">
              <form>
                <div class="flex flex-col gap-y-4">
                  <div class="flex flex-col gap-2">
                    <label
                      class="w-full block text-gray-700 text-md mb-1"
                      for="name"
                    >
                      <i
                        class="fa-solid fa-user text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                      ></i>
                      Nome Completo
                    </label>
                    <input
                      id="name"
                      name="name"
                      placeholder="Ex: João Pedro Silva"
                      type="text"
                      class="w-full shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label class="block text-gray-700 text-md mb-1" for="email">
                      <i
                        class="fa-solid fa-envelope text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                      ></i>
                      E-mail
                    </label>
                    <input
                      id="email"
                      name="email"
                      placeholder="Ex: joaopedro@gmail.com"
                      type="email"
                      class="w-full shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label
                      class="block text-gray-700 text-md mb-1"
                      for="subject"
                    >
                      <i
                        class="fa-solid fa-pencil text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                      ></i>
                      Assunto
                    </label>
                    <input
                      id="subject"
                      name="subject"
                      placeholder="Ex: Sugestão de melhoria das partidas "
                      type="text"
                      class="w-full shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label
                      class="block text-gray-700 text-md mb-1"
                      for="message"
                    >
                      <i
                        class="fa-solid fa-comment text-sm bg-orange-200 p-2 rounded-xl text-orange-500"
                      ></i>
                      Mensagem
                    </label>
                    <textarea
                      id="message"
                      name="message"
                      placeholder="Ex: Eu gostaria que as partidas..."
                      rows="4"
                      type="text"
                      class="w-full shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                    ></textarea>
                  </div>
                </div>
                <button
                  type="submit"
                  class="mt-5 w-full bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/35 hover:cursor-pointer text-white px-4 py-2 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5"
                >
                  Enviar mensagem
                  <i class="fa-solid fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="py-18 bg-white shadow border-t border-gray-200 mt-8">
      <div class="container mx-auto px-4">
        <div class="flex flex-col justify-center items-center gap-y-5">
          <a href="">
            <img src="https://placehold.co/100" alt="" class="w-12 h-12" />
          </a>
          <a
            href=""
            class="text-gray-600 font-bold hover:text-cyan-500 text-lg duration-300 ease-in-out text-center"
          >
            BoraRachão &copy;
          </a>
        </div>
        <nav
          class="flex flex-col md:flex-row items-center justify-center mt-12 gap-5 gap-x-8"
        >
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Home
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Contato
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Sobre
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Política de Privacidade
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Termos de Uso
          </a>
        </nav>
        <div class="flex justify-center gap-x-4 mt-9">
          <a
            href=""
            class="bg-pink-500/40 py-1 px-2 rounded-xl text-pink-500 hover:bg-pink-500 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-instagram text-2xl hover:text-white"></i>
          </a>
          <a
            href=""
            class="bg-stone-500/40 py-1 px-2 rounded-xl text-stone-500 hover:bg-stone-950 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-tiktok text-2xl"></i>
          </a>
          <a
            href=""
            class="bg-blue-500/40 py-1 px-2 rounded-xl text-blue-500 hover:bg-blue-500 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-square-facebook text-2xl"></i>
          </a>
          <a
            href=""
            class="bg-stone-600/40 py-1 px-1.5 rounded-xl text-stone-600 hover:bg-stone-950 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-x-twitter text-2xl"></i>
          </a>
          <a
            href=""
            class="bg-sky-500/40 py-1 px-2 rounded-xl text-sky-500 hover:bg-sky-500 duration-300 ease-in-out hover:text-white"
          >
            <i class="fa-brands fa-linkedin text-2xl"></i>
          </a>
        </div>
      </div>
    </footer>
    <script src="/app/resources/assets/js/script.js"></script>
    <script></script>
  </body>
</html>
