<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mude a Senha - BoraRachão</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        class="css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/app/resources/assets/css/style.css" />
</head>

<body class="bg-gray-50">

    <!--Put email for recovery-->
    <section class="my-6 relative font-md flex justify-center items-center min-h-screen">
        <div class="bg-white shadow-xl min-w-154 min-h-100 rounded-3xl border-1 p-8 border-gray-300">
            <div class="top-2 px-3">
                <h3 class=" py-1 rounded-t-xl text-gray-700 text-4xl font-bold text-center">Recuperação de senha!</h3>
            </div>

            <div class="my-5 px-6 flex flex-col gap-2 px-40">
                <label class="text-gray-700 text-md" for="password">
                    <i class="fa-solid fa-lock text-sm bg-orange-200 p-2 px-2.25 rounded-xl text-orange-500"></i>
                    Nova Senha
                </label>
                <input id="password" name="password" type="password" placeholder="Crie uma senha segura"
                    class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out" />
                <p class="text-xs leading-4 text-red-500 mt-[-4px] hidden" data-error="password">
                    O campo precisa ser preenchido corretamente.
                </p>
            </div>

            <div class="my-5 px-6 flex flex-col gap-2 px-40">
                <label class="text-gray-700 text-md" for="password_confirmation">
                    <i class="fa-solid fa-lock text-sm bg-orange-200 p-2 px-2.25 rounded-xl text-orange-500"></i>
                    Confirme a Senha
                </label>
                <input id="password_confirmation" name="password_confirmation" type="password"
                    placeholder="Repita a sua senha"
                    class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out" />
                <p class="text-xs leading-4 text-red-500 mt-[-4px] hidden" data-error="password_confirmation">
                    O campo precisa ser preenchido corretamente.
                </p>
            </div>

            <div class="text-center mt-4">
                <!-- Change password-->
                <div class="px-40">
                    <a href="/app/resources/views/auth/login.html"
                        class="bg-orange-500 hover:bg-orange-400 hover:shadow-md hover:shadow-orange-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center justify-center duration-300 ease-in-out gap-x-1.5">
                       Mudar Senha
                    </a>
                </div>
                <!--Back Home-->
                <div class="text-center mt-4">
                    <a href="/app/resources/views/index.html" 
                        class="text-gray-700 p-1 rounded-md hover:text-cyan-500 duration-300 ease-in-out">
                        Voltar para Home
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!--Footer Section-->
    <footer class="py-18 bg-white shadow border-t border-gray-200">
        <div class="container mx-auto px-4">
            <div class="flex flex-col justify-center items-center gap-y-5">
                <a href="">
                    <img src="https://placehold.co/100" alt="" class="w-12 h-12" />
                </a>
                <a href="/app/resources/views/index.html"
                    class="text-gray-600 font-bold hover:text-cyan-500 text-lg duration-300 ease-in-out text-center">
                    BoraRachão &copy;
                </a>
            </div>
            <nav class="flex flex-col md:flex-row items-center justify-center mt-12 gap-5 gap-x-8">
                <a href="/app/resources/views/index.html"
                    class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out">
                    Home
                </a>
                <a href="" class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out">
                    Contato
                </a>
                <a href="" class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out">
                    Sobre
                </a>
                <a href="" class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out">
                    Política de Privacidade
                </a>
                <a href="" class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out">
                    Termos de Uso
                </a>
            </nav>
            <div class="flex justify-center gap-x-4 mt-9">
                <a href=""
                    class="bg-pink-500/40 py-1 px-2 rounded-xl text-pink-500 hover:bg-pink-500 duration-300 ease-in-out hover:text-white">
                    <i class="fa-brands fa-instagram text-2xl hover:text-white"></i>
                </a>
                <a href=""
                    class="bg-stone-500/40 py-1 px-2 rounded-xl text-stone-500 hover:bg-stone-950 duration-300 ease-in-out hover:text-white">
                    <i class="fa-brands fa-tiktok text-2xl"></i>
                </a>
                <a href=""
                    class="bg-blue-500/40 py-1 px-2 rounded-xl text-blue-500 hover:bg-blue-500 duration-300 ease-in-out hover:text-white">
                    <i class="fa-brands fa-square-facebook text-2xl"></i>
                </a>
                <a href=""
                    class="bg-stone-600/40 py-1 px-1.5 rounded-xl text-stone-600 hover:bg-stone-950 duration-300 ease-in-out hover:text-white">
                    <i class="fa-brands fa-x-twitter text-2xl"></i>
                </a>
                <a href=""
                    class="bg-sky-500/40 py-1 px-2 rounded-xl text-sky-500 hover:bg-sky-500 duration-300 ease-in-out hover:text-white">
                    <i class="fa-brands fa-linkedin text-2xl"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="/app/resources/assets/js/script.js"></script>

    <script>
        const arrayRegisterForm = [];

        addInputValidations(
        document.getElementById("password"),
        (input, msg) => {
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo senha é obrigatório.");
            } else if (e.target.value.length > 255) {
              toggleErrorMsg(
                input,
                "O campo senha só pode ter 255 caracteres no máximo."
              );
            } else if (e.target.value.length < 8) {
              toggleErrorMsg(
                input,
                "O campo senha deve ter no mínimo 8 caracteres."
              );
            } else {
              toggleErrorMsg(input);
            }
            document
              .getElementById("password_confirmation")
              .dispatchEvent(new Event("blur"));
          });
        },
        arrayRegisterForm
      );

      addInputValidations(
        document.getElementById("password_confirmation"),
        (input, msg) => {
          const passwordInput = document.getElementById("password");
          input.addEventListener("blur", (e) => {
            if (e.target.value.trim() === "") {
              toggleErrorMsg(input, "O campo de confirmação é obrigatório.");
            } else if (e.target.value != passwordInput.value) {
              toggleErrorMsg(
                input,
                "O campo de confirmação e senha devem ser iguais."
              );
            } else {
              toggleErrorMsg(input);
            }
          });
        },
        arrayRegisterForm
      );

    </script>
    
</body>
</html>