<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      class="css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/app/resources/assets/css/style.css" />
  </head>
  <body class="bg-gray-50">
    <section
      class="my-6 relative font-md flex justify-center items-center min-h-screen"
    >
      <div
        class="grid md:grid-cols-2 shadow-lg border border-gray-300 max-w-[clamp(60rem,60rem,75rem)] min-h-[70vh] mx-2 rounded-3xl overflow-hidden"
      >
        <div
          class="flex flex-col justify-center p-12 bg-white order-last md:order-first"
        >
          <a
            href="/app/resources/views/auth/register.html"
            class="mb-5 text-gray-600 hover:text-cyan-500 duration-300 ease-in-out flex items-center gap-x-2"
          >
            <i class="fa-solid fa-arrow-left"></i>
            <p class="text-md">Voltar</p>
          </a>
          <form action="">
            <div class="flex flex-col gap-y-6">
              <div class="flex flex-col gap-2">
                <label class="text-gray-700 text-lg" for="cpf">
                  <i
                    class="fa-solid fa-id-card text-sm bg-orange-200 p-2 px-1.75 rounded-xl text-orange-500"
                  ></i>
                  CPF
                </label>
                <input
                  id="cpf"
                  type="text"
                  placeholder="Digite seu CPF"
                  class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                />
              </div>
              <div class="flex gap-x-2 gap-y-6 flex-col md:flex-row">
                <div class="flex flex-col gap-2 w-full md:w-[69%]">
                  <label class="text-gray-700 text-lg" for="birthdate">
                    <i
                      class="fa-solid fa-cake-candles text-sm bg-orange-200 p-2 px-2.25 rounded-xl text-orange-500"
                    ></i>
                    Aniversário
                  </label>
                  <input
                    id="birthdate"
                    type="date"
                    class="shadow-sm py-2 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                  />
                </div>
                <div class="flex flex-col gap-2 w-full md:w-[39%]">
                  <label class="text-gray-700 text-lg" for="city">
                    <i
                      class="fa-solid fa-location-dot text-sm bg-orange-200 p-2 px-2.5 rounded-xl text-orange-500"
                    ></i>
                    Cidade
                  </label>
                  <select
                    id="city"
                    type="text"
                    class="shadow-sm py-2.5 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                  >
                    <option selected disabled>Selecione uma cidade</option>
                    <option value="value1">Jaú</option>
                    <option value="value2">Bariri</option>
                    <option value="value3">Mineiros do Tietê</option>
                    <option value="value3">Barra Bonita</option>
                    <option value="value3">Bauru</option>
                  </select>
                </div>
              </div>

              <div class="flex flex-col gap-2">
                <label class="text-gray-700 text-lg" for="gender">
                  <i
                    class="fa-solid fa-venus-mars text-sm bg-orange-200 p-2 px-1.5 rounded-xl text-orange-500"
                  ></i>
                  Gênero
                </label>
                <select
                  id="gender"
                  type="text"
                  class="shadow-sm py-2.5 px-3.5 border-2 border-gray-300 rounded-xl hover:border-gray-300 text-gray-700 focus:border-cyan-500 focus:outline-none duration-300 ease-in-out"
                >
                  <option selected disabled>Selecione um gênero</option>
                  <option value="value1">Masculino</option>
                  <option value="value2">Feminino</option>
                  <option value="value3">Outro</option>
                </select>
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="mt-4 w-full justify-center bg-orange-500 hover:bg-orange-400 hover:shadow-md hover:shadow-orange-400/50 hover:cursor-pointer text-white px-4 py-1.5 rounded-xl flex items-center duration-300 ease-in-out gap-x-1.5"
              >
                Cadastrar
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </form>
          <div>
            <p class="text-xs text-gray-600 leading-5 mt-3 text-center">
              Ao criar uma conta, você concorda com os
              <a
                href="/app/resources/views/general/terms-of-use.html"
                class="text-orange-500"
                >Termos e Condições</a
              >
              e a
              <a
                href="/app/resources/views/general/privacy-policy.html"
                class="text-orange-500"
                >Política de Privacidade</a
              >.
            </p>
          </div>
        </div>
        <div
          class="relative flex flex-col justify-center p-12 text-white text-center"
        >
          <div
            class="absolute top-0 left-0 h-full w-full animate-auth-bg z-[-1] bg-gradient-to-bl from-orange-300 via-orange-500 to-orange-700"
          ></div>
          <h3 class="text-lg mb-3 uppercase font-light">
            Vamos te conhecer melhor
          </h3>
          <h2 class="font-bold text-3xl md:text-4xl mb-5">
            <i class="fa-solid fa-user-plus me-3"></i>
            Crie sua conta
          </h2>
          <p>
            Cadastre-se agora e descubra partidas perto de você. Não fique de
            fora do próximo rachão. BoraRachão!
          </p>
        </div>
      </div>
    </section>

    <footer class="mt-16 py-18 bg-white shadow border-t border-gray-200">
      <div class="container mx-auto px-4">
        <div class="flex flex-col justify-center items-center gap-y-5">
          <a href="/app/resources/views/index.html">
            <img src="https://placehold.co/100" alt="" class="w-12 h-12" />
          </a>
          <a
            href="/app/resources/views/index.html"
            class="text-gray-600 font-bold hover:text-cyan-500 text-lg duration-300 ease-in-out text-center"
          >
            BoraRachão &copy;
          </a>
        </div>
        <nav
          class="flex flex-col md:flex-row items-center justify-center mt-12 gap-5 gap-x-8"
        >
          <a
            href="/app/resources/views/index.html"
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Home
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Contato
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Sobre
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Política de Privacidade
          </a>
          <a
            href=""
            class="text-gray-500 hover:text-cyan-500 duration-300 ease-in-out"
          >
            Termos de Uso
          </a>
        </nav>
      </div>
    </footer>
  </body>
</html>
